# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Environment / virtualenv
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.wheel

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
test_reports/
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Logs and databases
*.log
*.sqlite3
*.db

# IDE / editor
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# dotenv
.env

__pycache__/
*.py[cod]
*$py.class